    html, body { 
        margin: 0; 
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        position: relative;

        filter: blur(0px);
    }
    .drawCanvas {
        display: none;
    }
	#c {
        width: 100vw;
        height: 100vh;
        display: block;
        background: url(https://threejsfundamentals.org/threejs/resources/images/daikanyama.jpg) no-repeat center center ;
        background-size: cover;
      }

    .formProgress {
        display: none;
    }

    .questions{
        position: relative;
    }
    .options{
        display: inline-block;
    }
    .answer {
        display: block;
    }
    .sendAnswers{
        position: absolute;
        width: 100px;
        height: 30px;
        margin: 10px auto 10px auto;
        right: 50%;
    }


      .loginAndRegister {
        filter: blur(0px);
        position: relative;
      }
      .general{
          bottom: 0px;
          width: 100%;
          height: 100%;
          position: absolute;
      }

      .imgBackground {
          position: absolute;
          background-color: lightgreen;
          width: 100%;
          filter: blur(3px);
      }

      .createAccount {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        color: white;
      }
      .logInWithAccount {
        border: none;
        background-color: inherit;
        padding: 0px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        color: white;
      }

      .content-main h2 {
        color: #80c980;
        font-size: 29px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 15px;
            text-align: center;
    }
    .content-main {
        width: 30%;
        margin:3em auto;
        background:rgba(164, 209, 168, 0.253);
        padding: 10px 35px;
    }
    
    input.inputEmailLogin{
        width: 100%;
        padding: 15px 0px 15px 15px;
        border: 1px solid #fff;
        outline: none;
        font-size: 14px;
        color: #fff;
        margin: 14px 0px;
        background: none;
    }
    input.inputPasswordLogin{
        width: 100%;
        padding: 15px 0px 15px 15px;
        border: 1px solid #fff;
        outline: none;
        font-size: 14px;
        color: #fff;
        margin: 14px 0px;
        background: none;
    }
    input.inputEmailRegister{
        width: 100%;
        padding: 15px 0px 15px 15px;
        border: 1px solid #fff;
        outline: none;
        font-size: 14px;
        color: #fff;
        margin: 14px 0px;
        background: none;
    }
    input.inputUsernameRegister{
        width: 100%;
        padding: 15px 0px 15px 15px;
        border: 1px solid #fff;
        outline: none;
        font-size: 14px;
        color: #fff;
        margin: 14px 0px;
        background: none;
    }
    input.inputPasswordRegister{
        width: 100%;
        padding: 15px 0px 15px 15px;
        border: 1px solid #fff;
        outline: none;
        font-size: 14px;
        color: #fff;
        margin: 14px 0px;
        background: none;
    }
    .content-main span {
        font-size: 16px;
        color: #fff;
        float: left;
        width: 50%;
        margin-top: 8px;
    }
    .span-right {
        text-align:right;
    }
    .content-main a {
        color: #fff;
        transition:0.5s all;
        -webkit-transition:0.5s all;
        -o-transition:0.5s all;
        -moz-transition:0.5s all;
        -ms-transition:0.5s all;
    }
    .content-main a:hover{
        color:#5c8b5c;
        transition:0.5s all;
        -webkit-transition:0.5s all;
        -o-transition:0.5s all;
        -moz-transition:0.5s all;
        -ms-transition:0.5s all;
    }
    .content-main input[type="button"] {
        padding: 12px 38px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: #5c8b5c;
        color: white;
        border: none;
        outline: none;
        display: table;
        cursor: pointer;
        margin: 45px auto 31px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .content-main input[type="button"]:hover {
        background:#3a613a;
        transition:0.5s all;
        -webkit-transition:0.5s all;
        -o-transition:0.5s all;
        -moz-transition:0.5s all;
        -ms-transition:0.5s all;
    }
    .content-main p a {
        color: #5c8b5c;
        padding: 10px;
    }
    .content-main p a:hover {
        color: #fff;
    }
    .content-main p {
        font-size: 17px;
        color: #fff;
        text-align: center;
    }
    /*--//content--*/
    h4 input[type="checkbox"] {
        margin-right: 10px;
    }
    .content-main h4{
        margin-right: 10px;
        color:#fff;
        font-weight:400;
        font-size:14px;
    }
     /*--placeholder-color--*/
    ::-webkit-input-placeholder {
        color:#fff !important;
    }
    :-moz-placeholder { /* Firefox 18- */
        color:#fff !important; 
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color:#fff !important;
    }
    :-ms-input-placeholder {  
        color:#fff !important;
    }
    
    @media(max-width:940px)
    {
        .content-main {width: 50%;}
    }
    
    @media(max-width:550px)
    {
        .content-main {width: 90%; padding: 5%;}
        input.inputPasswordLogin {width: 90%; padding: 15px 4%;}
        input.inputEmailLogin {width: 90%; padding: 15px 4%;}
    }
